<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>

<body>
    <div id="NavBar">
        <div class="first">
            <img id="photo" src="../Resources/Logo.png" alt="Error">
            <h1 class="heading">HindBazaar</h1>
        </div>

        <div class="second">
            <div>
                <img src="../Resources/shopp.jpeg" alt="Error">
                <p>Shopping</p>
            </div>
            <div>
                <img src="../Resources/sell.jpeg" alt="Error">
                <p>Sell</p>
            </div>
            <div>
                <img src="../Resources/help.jpeg" alt="Error">
                <p>Help</p>
            </div>
            <div>
                <img src="../Resources/message.jpeg" alt="Error">
                <p>Messages</p>
            </div>
            <div id="sign">
                <img src="../Resources/sign.jpeg" alt="Error">
                <p>Sign In</p>
            </div>

            <div id="admin">
                <img src="../Resources/sign.jpeg" alt="Error">
                <p>Admin</p>
            </div>
        </div>
    </div>

    <div id="title">
        <input type="text" id="ProductsVal" placeholder="Search Product">
        <button class="but">Search</button>
    </div>

    <!-- Products -->

    <div id="mainProducts">
        <div id="left">
            <div>
                <h2>Categories</h2>
                    <button id="brick">Bricks</button>
                    <button id="excavator">Excavator</button>
            </div>
        </div>
        <div id="right">
            <!-- Append Here -->
        </div>
    </div>
</body>

</html>
<script src="../Scripts/product.js"></script>
<link rel="stylesheet" href="../Styles/product.css">